[gcode_macro _USER_VARIABLES]]
# Enable verbose output to let the macro have a chat
variable_verbose: True

### Feedrate and accels setpoints for all the macros
## SPEEDS
variable_homing_travel_speed: 350
variable_travel_speed: 350
variable_zhop_speed: 20
variable_brush_clean_speed: 100
variable_probe_dock_speed: 60

## ACCELS
## Those are specific accel settings for some of the macros
variable_homing_travel_accel: 3000
variable_tilting_travel_accel: 3000
variable_brush_clean_accel: 1500

## Accel to decel scale factor (default is 75% of the accel)
variable_accel_to_decel_factor: 0.75

### Homing, start_print and end_print variables
## Force always a full homing and QGL during the START_PRINT macro
variable_force_homing_in_start_print: False

## Z hop before homing to avoid grinding the bed due to the gantry sag
variable_homing_zhop: 10

## XY axis backoff distance after touching the endstops
variable_homing_first: "X" # can be set to "Y" first
variable_homing_backoff_distance_xy: -5, -5 # move 5mm in negative direction on both axis

## Percentage of run_current used while sensorless homing (if used)
variable_sensorless_current_factor: 75

## Miliseconds to pause after changing current
variable_sensorless_wait_time: 1600

## Temperature of the extruder used to preheat the chamber temperature and do some START_PRINT actions
variable_safe_extruder_temp: 150

## Prime line parameters
variable_prime_line_xy: 4, 20 # starting point
variable_prime_line_direction: "Y" # can also be set to "X"
variable_prime_line_length: 40 # length of the prime line on the bed (in mm)
variable_prime_line_purge_distance: 30 # length of filament to purge (in mm)
variable_prime_line_flowrate: 10 # mm3/s used for the prime line

## Park position used when pause, end_print, etc...
variable_park_position_xy: 280, 295
variable_park_lift_z: 50

## Automatically disable motors in the END_PRINT macro
variable_disable_motors_in_end_print: True

## Automatically turn-off heaters in the END_PRINT macro
variable_turn_off_heaters_in_end_print: True

### Voron TAP probe variables
variable_tap_max_probing_temp: 150

## this is used to Z hop before restoring the temperature to avoid burnt PEI
variable_tap_deactivation_zhop: 5

## Z position used by probe_accuracy_test_suite.py script
variable_safe_z: 10

### Material and specific print parameters
## default START_PRINT parameters
variable_print_default_bed_temp: 110
variable_print_default_extruder_temp: 240
variable_print_default_chamber_temp: 26
variable_print_default_chamber_max_heating_time: 0
variable_print_default_soak: 0
variable_print_default_material: 'ASA'

## Material configuration parameters applied during START_PRINT by using the slicer MATERIAL variable
variable_material_parameters: {
        'FLEX': {
            'bed_temp': 50,
            'extruder_temp': 230,
            'chamber_temp': 0,
            'soak': 0,
            'chamber_max_heating_time': 0,
            'pressure_advance': 0.180,
            'retract_length': 0.50,
            'unretract_extra_length': 0,
            'retract_speed': 30,
            'unretract_speed': 30,
            'exhaust_filter_speed': 0,
            'filter_speed': 0,
            'additional_z_offset': -0.020
        },
        'PLA': {
            'bed_temp': 60,
            'extruder_temp': 220,
            'chamber_temp': 0,
            'soak': 0,
            'chamber_max_heating_time': 0,
            'pressure_advance': 0.0525,
            'retract_length': 0.75,
            'unretract_extra_length': 0,
            'retract_speed': 40,
            'unretract_speed': 30,
            'exhaust_filter_speed': 0,
            'filter_speed': 0,
            'additional_z_offset': 0.000
        },
        'PET': {
            'bed_temp': 80,
            'extruder_temp': 225,
            'chamber_temp': 0,
            'soak': 0,
            'chamber_max_heating_time': 0,
            'pressure_advance': 0.0650,
            'retract_length': 1.4,
            'unretract_extra_length': 0,
            'retract_speed': 30,
            'unretract_speed': 20,
            'exhaust_filter_speed': 80,
            'filter_speed': 0,
            'additional_z_offset': 0.020
        },
        'ABS': {
            'bed_temp': 110,
            'extruder_temp': 250,
            'chamber_temp': 38,
            'soak': 5,
            'chamber_max_heating_time': 15,
            'pressure_advance': 0.0325,
            'retract_length': 0.5,
            'unretract_extra_length': 0,
            'retract_speed': 40,
            'unretract_speed': 30,
            'exhaust_filter_speed': 80,
            'filter_speed': 80,
            'additional_z_offset': 0
        },
        'ASA': {
            'bed_temp': 110,
            'extruder_temp': 260,
            'chamber_temp': 38,
            'soak': 5,
            'chamber_max_heating_time': 15,
            'pressure_advance': 0.0380,
            'retract_length': 0.5,
            'unretract_extra_length': 0,
            'retract_speed': 40,
            'unretract_speed': 30,
            'exhaust_filter_speed': 80,
            'filter_speed': 80,
            'additional_z_offset': 0
        }
    }

### ERCF specific variables
variable_ercf_enabled: False
variable_ercf_unload_on_cancel_print: False
variable_ercf_unload_on_end_print: True
variable_ercf_reset_stats_on_start_print: False

### Filter specific variables
## Nevermore filter media change time.
variable_filter_media_life: 80
variable_filter_default_time_on_end_print: 600 # seconds

### Other hardware options used in the macros
## Brush and purge bucket
variable_brush_over_y_axis: False # Run a brush cleanup moving the extruder along the Y axis, then X axis. If false, only X axis is done
variable_brush_xyz: 230, 300, 4 # Position of the brush center for nozzle cleaning
variable_purge_bucket_xyz: 265, 300, 8 # Purge bucket position
variable_purge_distance: 50 # Amount to purge
variable_purge_ooze_time: 10 # Time (in seconds) to wait after the purge to let the nozzle ooze before going to the brush

## White light parameters (if installed in the machine)
variable_light_intensity_start_print: 60
variable_light_intensity_printing: 15
variable_light_intensity_end_print: 2

## Resonnance testing position
variable_resonnance_test_point_xy: -1, -1
variable_resonnance_test_z_clearance: 50

## SteathBurner minidisplay and case leds colors
variable_status_leds_colors: {
        'logo': {
            'busy': {'r': 0.4, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'cleaning': {'r': 0.0, 'g': 0.02, 'b': 0.5, 'w': 0.0},
            'calibrating_z': {'r': 0.8, 'g': 0., 'b': 0.35, 'w': 0.0},
            'heating': {'r': 0.3, 'g': 0.18, 'b': 0.0, 'w': 0.0},
            'homing': {'r': 0.0, 'g': 0.6, 'b': 0.2, 'w': 0.0},
            'leveling': {'r': 0.5, 'g': 0.1, 'b': 0.4, 'w': 0.0},
            'meshing': {'r': 0.2, 'g': 1.0, 'b': 0.0, 'w': 0.0},
            'on': {'r': 0.8, 'g': 0.8, 'b': 0.8, 'w':1.0},
            'off': {'r': 0.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'printing': {'r': 1.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'standby': {'r': 0.01, 'g': 0.01, 'b': 0.01, 'w': 0.1},
            'error': {'r': 0.6, 'g': 0.0, 'b': 0.0, 'w':0.0},
        },
        'nozzle': {
            'heating': {'r': 0.8, 'g': 0.35, 'b': 0.0, 'w':0.0},
            'off': {'r': 0.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'on': {'r': 0.8, 'g': 0.8, 'b': 0.8, 'w':1.0},
            'standby': {'r': 0.6, 'g': 0.0, 'b': 0.0, 'w':0.0},
            'error': {'r': 0.6, 'g': 0.0, 'b': 0.0, 'w':0.0},
        },
        'caselight': {
            'busy': {'r': 0.4, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'cleaning': {'r': 0.0, 'g': 0.02, 'b': 0.5, 'w': 0.0},
            'calibrating_z': {'r': 0.8, 'g': 0., 'b': 0.35, 'w': 0.0},
            'heating': {'r': 0.3, 'g': 0.18, 'b': 0.0, 'w': 0.0},
            'homing': {'r': 0.0, 'g': 0.6, 'b': 0.2, 'w': 0.0},
            'leveling': {'r': 0.5, 'g': 0.1, 'b': 0.4, 'w': 0.0},
            'meshing': {'r': 0.2, 'g': 1.0, 'b': 0.0, 'w': 0.0},
            'on': {'r': 0.8, 'g': 0.8, 'b': 0.8, 'w':1.0},
            'off': {'r': 0.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'printing': {'r': 1.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'standby': {'r': 0.01, 'g': 0.01, 'b': 0.01, 'w': 0.1},
            'error': {'r': 0.6, 'g': 0.0, 'b': 0.0, 'w':0.0},
        },
        'minidisplay': {
            'on': {'r': 0.0, 'g': 0.2, 'b': 0.4, 'w':1.0},
            'off': {'r': 0.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'error': {'r': 0.4, 'g': 0.0, 'b': 0.0, 'w':0.0},
        },
        'thermal': {
            'hot': {'r': 1.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'cold': {'r': 0.3, 'g': 0.0, 'b': 0.3, 'w': 0.0}
        }
    }

gcode:

[save_variables]
filename: /home/pi/printer_data/config/.printer_stats.stb
